body{
    font-family: Arial, Tahoma;
    font-size: 12px;
}

.navbar{
    overflow: hidden;
    position: fixed;
}


ul{
    font-family: Arial, Tahoma;
    font-size: 20px;
}
ul:hover{
    background: cornsilk;
}

#main{
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#head{
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    padding-right: 20px;
    background-color: #3e4eff;
    border: 1px solid #CDCDCD;
    margin-bottom:5px;
    color: white;
    font-size: x-large;
}


#left{
    width: 150px;
    min-height: 400px;
    border: 1px solid #CDCDCD;
    float:left;
    background-color: white;
    margin-bottom: 5px;
}

#content{
    width: 600px;
    height: 400px;
    min-height: 400px;
    border: 1px solid #CDCDCD;
    float:left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    overflow-y: scroll;
}

#right{
    width: 234px;
    min-height: 400px;
    border: 1px solid #CDCDCD;
    float:right;
    margin-bottom: 5px;
}


#footer{
    height: 50px;
    clear: both;
    border: 1px solid #CDCDCD;
    background-color: #F8F8FF;
}